[submodule "Code/extensions/rls"]
	path = Code/extensions/rls
	url = https://github.com/rust-lang-nursery/rls-vscode
[submodule "Code/extensions/atom-keybindings"]
	path = Code/extensions/atom-keybindings
	url = https://github.com/Microsoft/vscode-atom-keybindings
[submodule "Code/extensions/cpptools"]
	path = Code/extensions/cpptools
	url = https://github.com/Microsoft/vscode-cpptools
[submodule "Code/extensions/subword-navigation"]
	path = Code/extensions/subword-navigation
	url = https://github.com/ow--/vscode-subword-navigation
[submodule "Code/extensions/dracula"]
	path = Code/extensions/dracula
	url = https://github.com/dracula/visual-studio-code
[submodule "Code/extensions/jupyter"]
	path = Code/extensions/jupyter
	url = https://github.com/DonJayamanne/vscodeJupyter
[submodule "Code/extensions/python"]
	path = Code/extensions/python
	url = https://github.com/DonJayamanne/pythonVSCode
